[submodule "frontend"]
	path = frontend
	url = https://github.com/AAreeb13/FYP-Frontend.git
[submodule "Revolutionising-SWE-dataset"]
	path = Revolutionising-SWE-dataset
	url = https://github.com/AAreeb13/Revolutionising-SWE-dataset
